.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.intro {
    display: inline-block;
    width: 50%;
}

.window {
    width: 300px;
    border: 1px solid black;
    background-color: white;
}

.window-content {
    padding: 16px;
}

.window form input[type="text"] {
    width: 100%;
}

.bar {
    height: 28px;
    border-bottom: 1px solid black;
    margin: 0;
}

.bar span {
    float: right;
    padding-top: 4px;
    margin-right: 4px;
}

.bar span img {
    width: 20px;
    height: 20px;
}

.form-window {
    position: absolute;
    margin: auto;
    float: right;
    left: 55%;
    top: 10%;
}

.submitted-message {
    display: none;
}

.submitted .submitted-message {
    display: block;
}

.submitted form {
    display: none;
}

h1 {
    font-family: "Monaco";
    margin: auto;
    text-align: center;
}

a {
    font-family: "Monaco";
    font-size: 10px;
    text-decoration: none;
    color: blue;
    margin: auto;
}

p {
    font-family: "Monaco";
    font-size: 10px;
}

ol {
    font-family: "Monaco";
    font-size: 12px;
    margin: auto;
}

.instructions {
    margin: auto;
}

.memories {
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }

    .intro {
        display: block;
        width: 100%;
    }

    a {
        font-family: "Monaco";
        font-size: 10px;
        text-decoration: none;
        color: blue;
        margin: auto;
        text-align: center;
    }

    p {
        font-family: "Monaco";
        font-size: 10px;
    }

    ol {
        font-family: "Monaco";
        font-size: 12px;
        margin: auto;
    }

    .instructions {
        margin: auto;
    }

    .form-window {
        margin: auto;
        float: none;
        left: auto;
        top: auto;
    }
}
