.window {
    width: 300px;
    border: 1px solid black;
    background-color: white;
}

.window-content {
    padding: 16px;
}

.window form input[type="text"] {
    width: 100%;
}

.bar {
    height: 28px;
    border-bottom: 1px solid black;
    margin: 0;
}

.bar span {
    float: right;
    padding-top: 4px;
    margin-right: 4px;
}

.bar span img {
    width: 20px;
    height: 20px;
}

.form-window {
    position: absolute;
    right: 40px;

}

.submitted-message {
    display: none;
}

.submitted .submitted-message {
    display: block;
}

.submitted form {
    display: none;
}

h1 {
  font-family: "Monaco";
  margin-bottom: -1px;
   }

ul, li {
    list-style: none;
    font-family: "Monaco";
    font-size: 12px;
}

p {
  font-family: "Monaco";
  font-size: 10px;
}

a {
   font-family: "Monaco";
  font-size: 10px;
  color: blue;
  text-decoration: none;
}



.instructions {
  width: 300px;
  margin-top: 20px;
}